* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: azure;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 400px;
    margin: 25px auto;
}

.question-container {
    background-color: beige;
    border: 1px solid bisque;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.answer-buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.answer-buttons .btn {
    background-color: darkgoldenrod;
    border: none;
    height: 100px;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
}

.answer-buttons .btn.wrong {
    background-color: crimson;
}

.answer-buttons .btn.correct {
    background-color: green;
}

.answer-buttons .btn:active {
    background-color: rgb(144, 105, 6);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 245, 235);
    border: 1px solid rgb(196, 255, 209);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.controls:empty {
    display: none;
}

.controls .btn {
    background-color: forestgreen;
    border: none;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    padding: 0 25px;
    width: 100%;
}

.hide {
    display: none;
}

#question {
    margin-bottom: 10px;
}