* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
}

form {
    padding: 25px;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

/* 
input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    font-size: 1.1rem;
    margin: 5px 0;
}



button {
    height: 50px;
    width: 100%;
    background-color: cadetblue;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkslategray;
    color: aliceblue;
} */

.container {
    background-color: aliceblue;
    border: 1px solid rgb(214, 225, 234);
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
}

.movies-title {
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid rgb(214, 225, 234);
}

.movies-list {
    padding: 15px 25px;
    border-bottom: 1px solid rgb(214, 225, 234);
}

.movies-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgb(226, 236, 244);
}

.movies-list li:last-child {
    border: none;
}

.movies-list .delete {
    background-color: crimson;
    color: aliceblue;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.movies-list .delete:active {
    background-color: rgb(188, 12, 47);
}

.movies-add {
    display: flex;
    gap: 5px;
    align-items: center;
}

.movies-add input {
    height: 40px;
    padding: 0 15px;
    border: 1px solid rgb(214, 225, 234);
    border-radius: 5px;
    width: 100%;
}

.movies-add .add-btn {
    background-color: forestgreen;
    color: aliceblue;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
}

.movies-add .add-btn:active {
    background-color: rgb(21, 107, 21);
}