* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

.container {
    background-color: aliceblue;
    border: 2px solid #aaa;

    width: min(100% - 30px, 960px);
    margin-inline: auto;
    text-align: center;
    padding: 25px;
}

button {
    height: 50px;
    cursor: pointer;
    padding: 0 25px;
    border-radius: 5px;
}

.increment-btn {
    background-color: cornflowerblue;
}

.increment-btn:active {
    background-color: rgb(55, 96, 171);
}

.save-btn {
    background-color: aquamarine;
}

.save-btn:active {
    background-color: rgb(67, 169, 135);
}

.error {
    color: red;
}

.calculater {
    background-color: aliceblue;
    border: 2px solid #aaa;
    text-align: center;
    padding: 20px;
}

.number {
    display: inline-flex;
    align-items: center;
    border: 1px solid #aaa;
    height: 50px;
    min-width: 50px;
    justify-content: center;
    margin-bottom: 15px;
}

.btn {
    background-color: bisque;
    margin-bottom: 25px;
}

.btn:active {
    background-color: beige;
}

/*-------*/
.jack-game {
    background-color: darkgreen;
    max-width: 350px;
    text-align: center;
    padding: 25px;
    color: aliceblue;
    border-radius: 20px;
    margin: 0 auto;
}

.jack-game .title {
    color: gold;
    margin-top: 0;
}

.start-btn {
    background-color: gold;
    font-weight: 600;
    border: none;
    min-width: 250px;
    margin: 5px;
}

.start-btn:active {
    background-color: goldenrod;
}



/* ----------------- */
.fruit-container {
    margin: 0 auto;
    border: 2px solid antiquewhite;
    border-radius: 15px;
    padding: 25px;
    max-width: 250px;
    text-align: center;

}

.fruit-container div {
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
}

#green-apple {
    background-color: greenyellow;
}

#apple-shelf {
    background-color: hotpink;
}

#orange-shelf {
    background-color: orange;
}

#chery-shelf {
    background-color: cornflowerblue;
}

#lime-shelf {
    background-color: yellowgreen;
}

.extension-container {
    padding: 25px;
}

#typeInput {
    height: 50px;
    padding: 0 15px;
    border: 2px solid cornflowerblue;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}


.button-col {
    display: flex;
    gap: 15px;
}

.btn {
    border-radius: 0;
    border: none;
    background-color: darkcyan;
    font-size: 16px;
    color: azure;
    width: 50%;
}

.btn:active {
    background-color: rgb(11, 167, 167);
}

.btn.delete {
    border: 2px solid darkcyan;
    background-color: azure;
    color: darkcyan;
}

.btn.delete:active {
    background-color: rgb(214, 235, 235);
}

#saveList {
    margin-top: 15px;
    padding-left: 20px;
    list-style: none;
}

#saveList li {
    display: block;
    margin-bottom: 10px;
}

#saveList li a {
    text-decoration: none;
    color: cadetblue;
    font-size: 18px;
}

#saveList li a:hover {
    color: darkgreen;
    font-weight: bold;
}