* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.show {
    display: block;
}

.hide {
    display: none;
}