* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
}

header {
    background-color: cadetblue;
    color: aliceblue;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    height: 80px;
}

.nav-list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-list li {
    height: 80px;
    display: inline-flex;
    align-items: center;
}

.nav-list li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}



.burger-menu {
    width: 30px;
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    height: 3px;
    background-color: aliceblue;
    border-radius: 3px;
    margin: 6px 0;
    transform: rotate(0deg) translate(0, 0);
    transition: transform 0.2s ease;
}

@media screen and (max-width: 960px) {
    body {
        overflow-x: hidden;
    }

    .burger-menu {
        display: block;
    }

    .nav-list {
        background-color: cadetblue;
        position: absolute;
        right: 0;
        height: calc(100vh - 80px);
        top: 80px;
        flex-direction: column;
        width: 50%;
        gap: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        flex: 1;
        width: 100%;
        opacity: 0;
    }

    .nav-list li a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-list li a:hover {
        background-color: rgb(100, 186, 189);
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.close .one {
    transform: rotate(-45deg) translate(-6px, 6px);
    transition: transform 0.2s ease-in;
}

.close .two {
    opacity: 0;
    transition: all 0.2s ease-in;
}

.close .three {
    transform: rotate(45deg) translate(-6px, -6px);
    transition: transform 0.2s ease-in;
}


/* -----------*/

.button-section {
    height: 50vh;
    text-align: center;
    padding: 50px;
}

.button-section .anBtn {
    background-color: black;
    color: azure;
    height: 100px;
    width: 100px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(0px);
    transition: all 0.5s ease-in;
    z-index: 1;
    position: relative;
}

.sm-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: azure;
    height: 50px;
    width: 50px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transform: translate(-50%, 10px);
    transition: all 0.5s ease-in;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 10px;
}

.button-col {
    position: relative;
    display: inline-block;
}

.button-col.open .sm-btn {
    border-radius: 50%;
    transform: translate(-50%, 120px);
    transition: all 0.8s ease-in;
}

.button-col.open .sm-btn:last-child {
    border-radius: 50%;
    transform: translate(-50%, 190px);
    transition: all 0.8s ease-in;
}