* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
}

input:focus {
    outline: none;
}

ul {
    padding: 50px;
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    background-color: rgb(230, 230, 230);
    padding: 10px;
    display: inline-flex;
    width: 25%;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.game-section {
    background-color: rgb(38, 29, 71);
    color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.score {
    display: flex;
    gap: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.score h2 {
    margin-top: 15px;
}

.intro {
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.btn {
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
    font-weight: 500;
    font-size: 16px;
    padding: 0 25px;
    margin: 0 10px;
    min-width: 100px;
    cursor: pointer;
}

.match {
    text-align: center;
}

.match {
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.fadeIn {
    opacity: 1;
    height: auto;
    transition: all 0.2s ease;
}

.fadeOut {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    pointer-events: none;
}

.hands {
    display: flex;
}

.hands .player-hand {
    transform: rotateY(180deg);
}

@keyframes shakePlayer {
    0% {
        transform: rotateY(-180deg) translateY(0px);
    }

    15% {
        transform: rotateY(-180deg) translateY(-50px);
    }

    25% {
        transform: rotateY(-180deg) translateY(0px);
    }

    35% {
        transform: rotateY(-180deg) translateY(-50px);
    }

    50% {
        transform: rotateY(-180deg) translateY(0px);
    }

    65% {
        transform: rotateY(-180deg) translateY(-50px);
    }

    75% {
        transform: rotateY(-180deg) translateY(0px);
    }

    85% {
        transform: rotateY(-180deg) translateY(-50px);
    }

    100% {
        transform: rotateY(-180deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(-50px);
    }

    25% {
        transform: translateY(0px);
    }

    35% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }

    65% {
        transform: translateY(-50px);
    }

    75% {
        transform: translateY(0px);
    }

    85% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* -Scroll -------------- */
.sectionOne {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTwo {
    height: 100vh;
    background-color: honeydew;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -Scroll Animation ------------ */
header img {
    max-width: 100%;
    max-height: 100vh;
}

.intro-title {
    text-align: center;
    padding-top: 100px;
}

.intro-content {
    padding: 100px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.intro-text h2 {
    margin-bottom: 20px;
}

.intro-text p {
    line-height: 1.4;
}

.intro-content img {
    width: 50%;
    flex: 0.5;
}

.intro-text {
    width: 50%;
    flex: 0.5;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s all ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


/* - Slider --------------- */
.carousel-contaner {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid darkslategray;
    position: relative;
}

.carousel-contaner button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: bisque;
    padding: 5px;
    cursor: pointer;
    z-index: 10;
    border-radius: 20px;
    border: 1px solid;
}

button#nextBtn {
    left: auto;
    right: 10px;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 400px;
}